In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from warnings import filterwarnings
filterwarnings('ignore')

In [ ]:
matches = pd.read_csv('/content/IPL_Matches_2008_2022.csv')
matches.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [ ]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [ ]:
#working on column 'city'
matches[matches['City'].isnull()]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
134,1237181,NaN,2020-11-10,2020/21,Final,Delhi Capitals,Mumbai Indians,Dubai International Cricket Stadium,Delhi Capitals,bat,N,Mumbai Indians,Wickets,5.0,NaN,TA Boult,"['MP Stoinis', 'S Dhawan', 'AM Rahane', 'SS Iy...","['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...",CB Gaffaney,Nitin Menon
137,1237177,NaN,2020-11-05,2020/21,Qualifier 1,Mumbai Indians,Delhi Capitals,Dubai International Cricket Stadium,Delhi Capitals,field,N,Mumbai Indians,Runs,57.0,NaN,JJ Bumrah,"['Q de Kock', 'RG Sharma', 'SA Yadav', 'Ishan ...","['PP Shaw', 'S Dhawan', 'AM Rahane', 'SS Iyer'...",CB Gaffaney,Nitin Menon
138,1216495,NaN,2020-11-03,2020/21,56,Mumbai Indians,Sunrisers Hyderabad,Sharjah Cricket Stadium,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,10.0,NaN,S Nadeem,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...","['DA Warner', 'WP Saha', 'MK Pandey', 'KS Will...",C Shamshuddin,RK Illingworth
140,1216530,NaN,2020-11-01,2020/21,54,Kolkata Knight Riders,Rajasthan Royals,Dubai International Cricket Stadium,Rajasthan Royals,field,N,Kolkata Knight Riders,Runs,60.0,NaN,PJ Cummins,"['Shubman Gill', 'N Rana', 'RA Tripathi', 'SP ...","['RV Uthappa', 'BA Stokes', 'SPD Smith', 'SV S...",Nitin Menon,PR Reiffel
142,1216535,NaN,2020-10-31,2020/21,51,Delhi Capitals,Mumbai Indians,Dubai International Cricket Stadium,Mumbai Indians,field,N,Mumbai Indians,Wickets,9.0,NaN,Ishan Kishan,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['Ishan Kishan', 'Q de Kock', 'SA Yadav', 'SS ...",YC Barde,PR Reiffel
143,1216502,NaN,2020-10-31,2020/21,52,Royal Challengers Bangalore,Sunrisers Hyderabad,Sharjah Cricket Stadium,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,5.0,NaN,Sandeep Sharma,"['JR Philippe', 'D Padikkal', 'V Kohli', 'AB d...","['DA Warner', 'WP Saha', 'MK Pandey', 'KS Will...",KN Ananthapadmanabhan,K Srinivasan
145,1216536,NaN,2020-10-29,2020/21,49,Kolkata Knight Riders,Chennai Super Kings,Dubai International Cricket Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,6.0,NaN,RD Gaikwad,"['Shubman Gill', 'N Rana', 'SP Narine', 'RK Si...","['SR Watson', 'RD Gaikwad', 'AT Rayudu', 'MS D...",C Shamshuddin,RK Illingworth
147,1216524,NaN,2020-10-27,2020/21,47,Sunrisers Hyderabad,Delhi Capitals,Dubai International Cricket Stadium,Delhi Capitals,field,N,Sunrisers Hyderabad,Runs,88.0,NaN,WP Saha,"['DA Warner', 'WP Saha', 'MK Pandey', 'KS Will...","['AM Rahane', 'S Dhawan', 'MP Stoinis', 'SO He...",AK Chaudhary,Nitin Menon
148,1216520,NaN,2020-10-26,2020/21,46,Kolkata Knight Riders,Kings XI Punjab,Sharjah Cricket Stadium,Kings XI Punjab,field,N,Kings XI Punjab,Wickets,8.0,NaN,CH Gayle,"['Shubman Gill', 'N Rana', 'RA Tripathi', 'KD ...","['KL Rahul', 'Mandeep Singh', 'CH Gayle', 'N P...",KN Ananthapadmanabhan,RK Illingworth
150,1216544,NaN,2020-10-25,2020/21,44,Royal Challengers Bangalore,Chennai Super Kings,Dubai International Cricket Stadium,Royal Challengers Bangalore,bat,N,Chennai Super Kings,Wickets,8.0,NaN,RD Gaikwad,"['D Padikkal', 'AJ Finch', 'V Kohli', 'AB de V...","['RD Gaikwad', 'F du Plessis', 'AT Rayudu', 'M...",C Shamshuddin,RK Illingworth
151,1216498,NaN,2020-10-24,2020/21,43,Kings XI Punjab,Sunrisers Hyderabad,Dubai International Cricket Stadium,Sunrisers Hyderabad,field,N,Kings XI Punjab,Runs,12.0,NaN,CJ Jordan,"['KL Rahul', 'Mandeep Singh', 'CH Gayle', 'N P...","['DA Warner', 'JM Bairstow', 'MK Pandey', 'Abd...",AY Dandekar,PR Reiffel
153,1216521,NaN,2020-10-23,2020/21,41,Chennai Super Kings,Mumbai Indians,Sharjah Cricket Stadium,Mumbai Indians,field,N,Mumbai Indians,Wickets,10.0,NaN,TA Boult,"['RD Gaikwad', 'F du Plessis', 'AT Rayudu', 'N...","['Q de Kock', 'Ishan Kishan', 'SA Yadav', 'SS ...",C Shamshuddin,VA Kulkarni
154,1216518,NaN,2020-10-22,2020/21,40,Rajasthan Royals,Sunrisers Hyderabad,Dubai International Cricket Stadium,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,8.0,NaN,MK Pandey,"['RV Uthappa', 'BA Stokes', 'SV Samson', 'JC B...","['DA Warner', 'JM Bairstow', 'MK Pandey', 'V S...",Nitin Menon,PR Reiffel
156,1216546,NaN,2020-10-20,2020/21,38,Delhi Capitals,Kings XI Punjab,Dubai International Cricket Stadium,Delhi Capitals,bat,N,Kings XI Punjab,Wickets,5.0,NaN,S Dhawan,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...",C Shamshuddin,RK Illingworth
159,1216517,NaN,2020-10-18,2020/21,36,Mumbai Indians,Kings XI Punjab,Dubai International Cricket Stadium,Mumbai Indians,bat,Y,Kings XI Punjab,SuperOver,NaN,NaN,KL Rahul,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...","['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...",Nitin Menon,PR Reiffel
160,1216522,NaN,2020-10-17,2020/21,33,Rajasthan Royals,Royal Challengers Bangalore,Dubai International Cricket Stadium,Rajasthan Royals,bat,N,Royal Challengers Bangalore,Wickets,7.0,NaN,AB de Villiers,"['RV Uthappa', 'BA Stokes', 'SV Samson', 'SPD ...","['D Padikkal', 'AJ Finch', 'V Kohli', 'AB de V...",AK Chaudhary,Nitin Menon
161,1216509,NaN,2020-10-17,2020/21,34,Chennai Super Kings,Delhi Capitals,Sharjah Cricket Stadium,Chennai Super Kings,bat,N,Delhi Capitals,Wickets,5.0,NaN,S Dhawan,"['SM Curran', 'F du Plessis', 'SR Watson', 'AT...","['PP Shaw', 'S Dhawan', 'AM Rahane', 'SS Iyer'...",KN Ananthapadmanabhan,RK Illingworth
163,1216531,NaN,2020-10-15,2020/21,31,Royal Challengers Bangalore,Kings XI Punjab,Sharjah Cricket Stadium,Royal Challengers Bangalore,bat,N,Kings XI Punjab,Wickets,8.0,NaN,KL Rahul,"['AJ Finch', 'D Padikkal', 'V Kohli', 'Washing...","['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...",KN Ananthapadmanabhan,C Shamshuddin
164,1216543,NaN,2020-10-14,2020/21,30,Delhi Capitals,Rajasthan Royals,Dubai International Cricket Stadium,Delhi Capitals,bat,N,Delhi Capitals,Runs,13.0,NaN,A Nortje,"['PP Shaw', 'S Dhawan', 'AM Rahane', 'SS Iyer'...","['BA Stokes', 'JC Buttler', 'SPD Smith', 'SV S...",AK Chaudhary,Nitin Menon
165,1216528,NaN,2020-10-13,2020/21,29,Chennai Super Kings,Sunrisers Hyderabad,Dubai International Cricket Stadium,Chennai Super Kings,bat,N,Chennai Super Kings,Runs,20.0,NaN,RA Jadeja,"['SM Curran', 'F du Plessis', 'SR Watson', 'AT...","['DA Warner', 'JM Bairstow', 'MK Pandey', 'KS ...",AK Chaudhary,PR Reiffel
166,1216540,NaN,2020-10-12,2020/21,28,Royal Challengers Bangalore,Kolkata Knight Riders,Sharjah Cricket Stadium,Royal Challengers Bangalore,bat,N,Royal Challengers Bangalore,Runs,82.0,NaN,AB de Villiers,"['AJ Finch', 'D Padikkal', 'V Kohli', 'AB de V...","['T Banton', 'Shubman Gill', 'N Rana', 'EJG Mo...",RK Illingworth,K Srinivasan
167,1216507,NaN,2020-10-11,2020/21,26,Sunrisers Hyderabad,Rajasthan Royals,Dubai International Cricket Stadium,Sunrisers Hyderabad,bat,N,Rajasthan Royals,Wickets,5.0,NaN,R Tewatia,"['DA Warner', 'JM Bairstow', 'MK Pandey', 'KS ...","['BA Stokes', 'JC Buttler', 'SPD Smith', 'SV S...",YC Barde,PR Reiffel
170,1216525,NaN,2020-10-10,2020/21,25,Royal Challengers Bangalore,Chennai Super Kings,Dubai International Cricket Stadium,Royal Challengers Bangalore,bat,N,Royal Challengers Bangalore,Runs,37.0,NaN,V Kohli,"['D Padikkal', 'AJ Finch', 'V Kohli', 'AB de V...","['SR Watson', 'F du Plessis', 'AT Rayudu', 'N ...",AK Chaudhary,PR Reiffel
171,1216500,NaN,2020-10-09,2020/21,23,Delhi Capitals,Rajasthan Royals,Sharjah Cricket Stadium,Rajasthan Royals,field,N,Delhi Capitals,Runs,46.0,NaN,R Ashwin,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['YBK Jaiswal', 'JC Buttler', 'SPD Smith', 'SV...",KN Ananthapadmanabhan,C Shamshuddin
172,1216542,NaN,2020-10-08,2020/21,22,Sunrisers Hyderabad,Kings XI Punjab,Dubai International Cricket Stadium,Sunrisers Hyderabad,bat,N,Sunrisers Hyderabad,Runs,69.0,NaN,JM Bairstow,"['DA Warner', 'JM Bairstow', 'Abdul Samad', 'M...","['KL Rahul', 'MA Agarwal', 'P Simran Singh', '...",AK Chaudhary,Nitin Menon
175,1216519,NaN,2020-10-05,2020/21,19,Delhi Capitals,Royal Challengers Bangalore,Dubai International Cricket Stadium,Royal Challengers Bangalore,field,N,Delhi Capitals,Runs,59.0,NaN,AR Patel,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['D Padikkal', 'AJ Finch', 'V Kohli', 'AB de V...",Nitin Menon,YC Barde
176,1216513,NaN,2020-10-04,2020/21,18,Kings XI Punjab,Chennai Super Kings,Dubai International Cricket Stadium,Kings XI Punjab,bat,N,Chennai Super Kings,Wickets,10.0,NaN,SR Watson,"['KL Rahul', 'MA Agarwal', 'Mandeep Singh', 'N...","['SR Watson', 'F du Plessis', 'AT Rayudu', 'KM...",AY Dandekar,Nitin Menon
177,1216538,NaN,2020-10-04,2020/21,17,Mumbai Indians,Sunrisers Hyderabad,Sharjah Cricket Stadium,Mumbai Indians,bat,N,Mumbai Indians,Runs,34.0,NaN,TA Boult,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...","['DA Warner', 'JM Bairstow', 'MK Pandey', 'KS ...",KN Ananthapadmanabhan,RK Illingworth
179,1216515,NaN,2020-10-03,2020/21,16,Delhi Capitals,Kolkata Knight Riders,Sharjah Cricket Stadium,Kolkata Knight Riders,field,N,Delhi Capitals,Runs,18.0,NaN,SS Iyer,"['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...","['Shubman Gill', 'SP Narine', 'N Rana', 'AD Ru...",VA Kulkarni,RK Illingworth
180,1216516,NaN,2020-10-02,2020/21,14,Sunrisers Hyderabad,Chennai Super Kings,Dubai International Cricket Stadium,Sunrisers Hyderabad,bat,N,Sunrisers Hyderabad,Runs,7.0,NaN,PK Garg,"['DA Warner', 'JM Bairstow', 'MK Pandey', 'KS ...","['F du Plessis', 'SR Watson', 'AT Rayudu', 'KM...",AK Chaudhary,PR Reiffel
182,1216504,NaN,2020-09-30,2020/21,12,Kolkata Knight Riders,Rajasthan Royals,Dubai International Cricket Stadium,Rajasthan Royals,field,N,Kolkata Knight Riders,Runs,37.0,NaN,Shivam Mavi,"['Shubman Gill', 'SP Narine', 'N Rana', 'AD Ru...","['JC Buttler', 'SPD Smith', 'SV Samson', 'RV U...",KN Ananthapadmanabhan,C Shamshuddin
184,1216547,NaN,2020-09-28,2020/21,10,Royal Challengers Bangalore,Mumbai Indians,Dubai International Cricket Stadium,Mumbai Indians,field,Y,Royal Challengers Bangalore,SuperOver,NaN,NaN,AB de Villiers,"['D Padikkal', 'AJ Finch', 'V Kohli', 'AB de V...","['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...",Nitin Menon,PR Reiffel
185,1216527,NaN,2020-09-27,2020/21,9,Kings XI Punjab,Rajasthan Royals,Sharjah Cricket Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,4.0,NaN,SV Samson,"['KL Rahul', 'MA Agarwal', 'GJ Maxwell', 'N Po...","['JC Buttler', 'SPD Smith', 'SV Samson', 'R Te...",RK Illingworth,K Srinivasan
187,1216539,NaN,2020-09-25,2020/21,7,Delhi Capitals,Chennai Super Kings,Dubai International Cricket Stadium,Chennai Super Kings,field,N,Delhi Capitals,Runs,44.0,NaN,PP Shaw,"['PP Shaw', 'S Dhawan', 'RR Pant', 'SS Iyer', ...","['M Vijay', 'SR Watson', 'F du Plessis', 'RD G...",KN Ananthapadmanabhan,RK Illingworth
188,1216510,NaN,2020-09-24,2020/21,6,Kings XI Punjab,Royal Challengers Bangalore,Dubai International Cricket Stadium,Royal Challengers Bangalore,field,N,Kings XI Punjab,Runs,97.0,NaN,KL Rahul,"['KL Rahul', 'MA Agarwal', 'N Pooran', 'GJ Max...","['D Padikkal', 'AJ Finch', 'JR Philippe', 'V K...",AK Chaudhary,PR Reiffel
190,1216496,NaN,2020-09-22,2020/21,4,Rajasthan Royals,Chennai Super Kings,Sharjah Cricket Stadium,Chennai Super Kings,field,N,Rajasthan Royals,Runs,16.0,NaN,SV Samson,"['YBK Jaiswal', 'SPD Smith', 'SV Samson', 'DA ...","['M Vijay', 'SR Watson', 'F du Plessis', 'SM C...",C Shamshuddin,VA Kulkarni
191,1216534,NaN,2020-09-21,2020/21,3,Royal Challengers Bangalore,Sunrisers Hyderabad,Dubai International Cricket Stadium,Sunrisers Hyderabad,field,N,Royal Challengers Bangalore,Runs,10.0,NaN,YS Chahal,"['D Padikkal', 'AJ Finch', 'V Kohli', 'AB de V...","['DA Warner', 'JM Bairstow', 'MK Pandey', 'PK ...",AY Dandekar,Nitin Menon
192,1216493,NaN,2020-09-20,2020/21,2,Delhi Capitals,Kings XI Punjab,Dubai International Cricket Stadium,Kings XI Punjab,field,Y,Delhi Capitals,SuperOver,NaN,NaN,MP Stoinis,"['PP Shaw', 'S Dhawan', 'SO Hetmyer', 'SS Iyer...","['KL Rahul', 'MA Agarwal', 'KK Nair', 'N Poora...",AK Chaudhary,Nitin Menon
532,729317,NaN,2014-04-30,2014,20,Mumbai Indians,Sunrisers Hyderabad,Dubai International Cricket Stadium,Mumbai Indians,field,N,Sunrisers Hyderabad,Runs,15.0,NaN,B Kumar,"['BR Dunk', 'RG Sharma', 'CJ Anderson', 'AT Ra...","['AJ Finch', 'S Dhawan', 'KL Rahul', 'DA Warne...",HDPK Dharmasena,M Erasmus
534,729313,NaN,2014-04-28,2014,18,Kings XI Punjab,Royal Challengers Bangalore,Dubai International Cricket Stadium,Kings XI Punjab,field,N,Kings XI Punjab,Wickets,5.0,NaN,Sandeep Sharma,"['CA Pujara', 'V Sehwag', 'WP Saha', 'GJ Maxwe...","['CH Gayle', 'PA Patel', 'V Kohli', 'YV Takawa...",BF Bowden,S Ravi
535,729311,NaN,2014-04-27,2014,17,Sunrisers Hyderabad,Chennai Super Kings,Sharjah Cricket Stadium,Sunrisers Hyderabad,bat,N,Chennai Super Kings,Wickets,5.0,NaN,DR Smith,"['AJ Finch', 'S Dhawan', 'DA Warner', 'KL Rahu...","['DR Smith', 'BB McCullum', 'SK Raina', 'MS Dh...",AK Chaudhary,VA Kulkarni
536,729309,NaN,2014-04-27,2014,16,Delhi Daredevils,Mumbai Indians,Sharjah Cricket Stadium,Mumbai Indians,bat,N,Delhi Daredevils,Wickets,6.0,NaN,M Vijay,"['Q de Kock', 'M Vijay', 'JP Duminy', 'KP Piet...","['RG Sharma', 'AP Tare', 'CJ Anderson', 'AT Ra...",Aleem Dar,VA Kulkarni
539,729301,NaN,2014-04-25,2014,12,Sunrisers Hyderabad,Delhi Daredevils,Dubai International Cricket Stadium,Sunrisers Hyderabad,bat,N,Sunrisers Hyderabad,Runs,4.0,NaN,AJ Finch,"['S Dhawan', 'AJ Finch', 'DA Warner', 'KL Rahu...","['Q de Kock', 'M Vijay', 'KP Pietersen', 'KD K...",M Erasmus,S Ravi
540,729303,NaN,2014-04-25,2014,13,Chennai Super Kings,Mumbai Indians,Dubai International Cricket Stadium,Mumbai Indians,bat,N,Chennai Super Kings,Wickets,7.0,NaN,MM Sharma,"['DR Smith', 'BB McCullum', 'SK Raina', 'F du ...","['MEK Hussey', 'AP Tare', 'CJ Anderson', 'RG S...",BF Bowden,M Erasmus
541,729299,NaN,2014-04-24,2014,11,Royal Challengers Bangalore,Kolkata Knight Riders,Sharjah Cricket Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,2.0,NaN,CA Lynn,"['PA Patel', 'YV Takawale', 'V Kohli', 'Yuvraj...","['JH Kallis', 'G Gambhir', 'MK Pandey', 'CA Ly...",Aleem Dar,VA Kulkarni
542,729297,NaN,2014-04-23,2014,10,Rajasthan Royals,Chennai Super Kings,Dubai International Cricket Stadium,Rajasthan Royals,field,N,Chennai Super Kings,Runs,7.0,NaN,RA Jadeja,"['AM Nayar', 'AM Rahane', 'SV Samson', 'SR Wat...","['DR Smith', 'BB McCullum', 'SK Raina', 'F du ...",HDPK Dharmasena,RK Illingworth
543,729295,NaN,2014-04-22,2014,9,Kings XI Punjab,Sunrisers Hyderabad,Sharjah Cricket Stadium,Sunrisers Hyderabad,field,N,Kings XI Punjab,Runs,72.0,NaN,GJ Maxwell,"['CA Pujara', 'V Sehwag', 'GJ Maxwell', 'DA Mi...","['AJ Finch', 'S Dhawan', 'DA Warner', 'KL Rahu...",M Erasmus,S Ravi
545,729291,NaN,2014-04-20,2014,7,Rajasthan Royals,Kings XI Punjab,Sharjah Cricket Stadium,Kings XI Punjab,field,N,Kings XI Punjab,Wickets,7.0,NaN,GJ Maxwell,"['AM Nayar', 'AM Rahane', 'SV Samson', 'SR Wat...","['CA Pujara', 'V Sehwag', 'WP Saha', 'GJ Maxwe...",BF Bowden,M Erasmus
546,729289,NaN,2014-04-19,2014,6,Kolkata Knight Riders,Delhi Daredevils,Dubai International Cricket Stadium,Kolkata Knight Riders,bat,N,Delhi Daredevils,Wickets,4.0,NaN,JP Duminy,"['JH Kallis', 'G Gambhir', 'MK Pandey', 'RV Ut...","['M Vijay', 'MA Agarwal', 'KD Karthik', 'LRPL ...",Aleem Dar,VA Kulkarni
547,729287,NaN,2014-04-19,2014,5,Royal Challengers Bangalore,Mumbai Indians,Dubai International Cricket Stadium,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,7.0,NaN,PA Patel,"['NJ Maddinson', 'PA Patel', 'V Kohli', 'Yuvra...","['MEK Hussey', 'AP Tare', 'AT Rayudu', 'RG Sha...",Aleem Dar,AK Chaudhary
550,729281,NaN,2014-04-17,2014,2,Delhi Daredevils,Royal Challengers Bangalore,Sharjah Cricket Stadium,Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,8.0,NaN,YS Chahal,"['MA Agarwal', 'M Vijay', 'KD Karthik', 'MK Ti...","['PA Patel', 'NJ Maddinson', 'V Kohli', 'Yuvra...",Aleem Dar,S Ravi

In [ ]:
for i in range(len(matches['Venue'])):
  if 'Dubai' in matches['Venue'][i]:
    matches['City'][i] = 'Dubai'
  elif 'Sharjah' in matches['Venue'][i]:
    matches['City'][i] = 'Sharjah'
  else:
    continue

In [ ]:
matches['City'].isnull().sum()

0

In [ ]:
# checking filled values:
matches[(matches['ID'] == 1216495) | (matches['ID'] == 1216530)]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
138,1216495,Sharjah,2020-11-03,2020/21,56,Mumbai Indians,Sunrisers Hyderabad,Sharjah Cricket Stadium,Sunrisers Hyderabad,field,N,Sunrisers Hyderabad,Wickets,10.0,NaN,S Nadeem,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...","['DA Warner', 'WP Saha', 'MK Pandey', 'KS Will...",C Shamshuddin,RK Illingworth
140,1216530,Dubai,2020-11-01,2020/21,54,Kolkata Knight Riders,Rajasthan Royals,Dubai International Cricket Stadium,Rajasthan Royals,field,N,Kolkata Knight Riders,Runs,60.0,NaN,PJ Cummins,"['Shubman Gill', 'N Rana', 'RA Tripathi', 'SP ...","['RV Uthappa', 'BA Stokes', 'SPD Smith', 'SV S...",Nitin Menon,PR Reiffel

In [ ]:
#importing deliveries data:
delivery = pd.read_csv('/content/IPL_Ball_by_Ball_2008_2022.csv',error_bad_lines=False)
delivery.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [ ]:
# calculating total runs after each inning:
temp_df = delivery.groupby(['ID','innings'])['total_run'].sum().reset_index()

In [ ]:
temp_df

           ID  innings  total_run
0      335982        1        222
1      335982        2         82
2      335983        1        240
3      335983        2        207
4      335984        1        129
...       ...      ...        ...
1923  1312198        2        193
1924  1312199        1        157
1925  1312199        2        161
1926  1312200        1        130
1927  1312200        2        133

[1928 rows x 3 columns]

In [ ]:
# adding +1 for target
temp_df['target'] = temp_df['total_run'] + 1

In [ ]:
#we only need 1st inning score for further calculations to predict the scores for 2nd inning:
temp_df = temp_df[temp_df['innings'] == 1]

In [ ]:
#merging temp_df with matches df:
match_df = matches.merge(temp_df,on='ID')

In [ ]:
match_df.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,innings,total_run,target
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,1,130,131
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,1,157,158
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,1,207,208
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,1,188,189
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,1,157,158

In [ ]:
#working on teams:
match_df['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [ ]:
#renaming same teams:

#'Deccan Chargers' --> 'Sunrisers Hyderabad'
match_df['Team1'] = match_df['Team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['Team2'] = match_df['Team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

#'Delhi Daredevils' --> 'Delhi Capitals'
match_df['Team1'] = match_df['Team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['Team2'] = match_df['Team2'].str.replace('Delhi Daredevils','Delhi Capitals')

#'Gujarat Lions' --> 'Gujarat Titans'
match_df['Team1'] = match_df['Team1'].str.replace('Gujarat Lions','Gujarat Titans')
match_df['Team2'] = match_df['Team2'].str.replace('Gujarat Lions','Gujarat Titans')

#'Kings XI Punjab' --> 'Punjab Kings'
match_df['Team1'] = match_df['Team1'].str.replace('Kings XI Punjab','Punjab Kings')
match_df['Team2'] = match_df['Team2'].str.replace('Kings XI Punjab','Punjab Kings')

#'Rising Pune Supergiants' --> 'Rising Pune Supergiant'
match_df['Team1'] = match_df['Team1'].str.replace('Rising Pune Supergiants','Rising Pune Supergiant')
match_df['Team2'] = match_df['Team2'].str.replace('Rising Pune Supergiants','Rising Pune Supergiant')

#'Pune Warriors'--> 'Rising Pune Supergiant'
match_df['Team1'] = match_df['Team1'].str.replace('Pune Warriors','Rising Pune Supergiant')
match_df['Team2'] = match_df['Team2'].str.replace('Pune Warriors','Rising Pune Supergiant')

In [ ]:
match_df['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Rising Pune Supergiant',
       'Kochi Tuskers Kerala'], dtype=object)

In [ ]:
match_df['Team2'].unique()

array(['Gujarat Titans', 'Rajasthan Royals', 'Lucknow Super Giants',
       'Punjab Kings', 'Mumbai Indians', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Chennai Super Kings', 'Rising Pune Supergiant',
       'Kochi Tuskers Kerala'], dtype=object)

'''
required cols for our final_df to predict the result would be:

('batting_team',
'bowling_team',
'city',
'runs_left',
'balls_left',
'wickets_left',
'crr',
'rrr',
'target',
'result'
)

'''

In [ ]:
# keeping required cols:
match_df = match_df[['ID','City','Team1','Team2','WinningTeam','WonBy','total_run','target']]

In [ ]:
match_df.head()

,ID,City,Team1,Team2,WinningTeam,WonBy,total_run,target
0,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Wickets,130,131
1,1312199,Ahmedabad,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,Wickets,157,158
2,1312198,Kolkata,Royal Challengers Bangalore,Lucknow Super Giants,Royal Challengers Bangalore,Runs,207,208
3,1312197,Kolkata,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Wickets,188,189
4,1304116,Mumbai,Sunrisers Hyderabad,Punjab Kings,Punjab Kings,Wickets,157,158

In [ ]:
#merging match_df with delivery to get ball by ball details:
delivery_df = delivery.merge(match_df,on='ID')

In [ ]:
#keeping values where inning = 2 for training the model:
delivery_df = delivery_df[delivery_df['innings'] == 2]

In [ ]:
delivery_df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,kind,fielders_involved,BattingTeam,City,Team1,Team2,WinningTeam,WonBy,total_run_y,target
120,1312200,2,0,1,WP Saha,TA Boult,Shubman Gill,NaN,0,0,...,NaN,NaN,Gujarat Titans,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Wickets,130,131
121,1312200,2,0,2,WP Saha,TA Boult,Shubman Gill,NaN,0,0,...,NaN,NaN,Gujarat Titans,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Wickets,130,131
122,1312200,2,0,3,WP Saha,TA Boult,Shubman Gill,NaN,1,0,...,NaN,NaN,Gujarat Titans,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Wickets,130,131
123,1312200,2,0,4,Shubman Gill,TA Boult,WP Saha,NaN,0,0,...,NaN,NaN,Gujarat Titans,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Wickets,130,131
124,1312200,2,0,5,Shubman Gill,TA Boult,WP Saha,NaN,0,0,...,NaN,NaN,Gujarat Titans,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Wickets,130,131

In [ ]:
#calculating the current score after every ball:
delivery_df['current_score'] = delivery_df.groupby('ID')['total_run_x'].cumsum()

In [ ]:
#calculating runs left after every ball:
delivery_df['runs_left'] = delivery_df['target'] - delivery_df['current_score']

In [ ]:
#calculating balls left after every ball:
delivery_df['balls_left'] = 120 - (delivery_df['overs']*6 + delivery_df['ballnumber'])

In [ ]:
#calculating wickets left after every ball:
delivery_df['wickets_left'] = 10 - (delivery_df.groupby('ID')['isWicketDelivery'].cumsum())

In [ ]:
delivery_df

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,Team1,Team2,WinningTeam,WonBy,total_run_y,target,current_score,runs_left,balls_left,wickets_left
120,1312200,2,0,1,WP Saha,TA Boult,Shubman Gill,NaN,0,0,...,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Wickets,130,131,0,131,119,10
121,1312200,2,0,2,WP Saha,TA Boult,Shubman Gill,NaN,0,0,...,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Wickets,130,131,0,131,118,10
122,1312200,2,0,3,WP Saha,TA Boult,Shubman Gill,NaN,1,0,...,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Wickets,130,131,1,130,117,10
123,1312200,2,0,4,Shubman Gill,TA Boult,WP Saha,NaN,0,0,...,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Wickets,130,131,1,130,116,10
124,1312200,2,0,5,Shubman Gill,TA Boult,WP Saha,NaN,0,0,...,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Wickets,130,131,1,130,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,...,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,Runs,222,223,80,143,31,1
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,...,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,Runs,222,223,81,142,30,1
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,...,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,Runs,222,223,81,142,29,1
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,...,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,Runs,222,223,82,141,29,1
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,...,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,Runs,222,223,82,141,28,0

In [ ]:
#calculating current run rate(crr):
delivery_df['crr'] = (delivery_df['current_score']*6)/(120-delivery_df['balls_left'])

In [ ]:
#calculating required run rate(rrr):
delivery_df['rrr'] = (delivery_df['runs_left']*6)/(delivery_df['balls_left'])

In [ ]:
#defining a function to get results as 0 or 1
def result(row):
    return 1 if row['BattingTeam'] == row['WinningTeam'] else 0

In [ ]:
#applyng the result function:
delivery_df['result'] = delivery_df.apply(result,axis=1)

In [ ]:
delivery_df['result'].value_counts()

1    57670
0    51240
Name: result, dtype: int64

In [ ]:
delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108910 entries, 120 to 225953
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 108910 non-null  int64
 1   innings            108910 non-null  int64
 2   overs              108910 non-null  int64
 3   ballnumber         108910 non-null  int64
 4   batter             108910 non-null  object
 5   bowler             108910 non-null  object
 6   non-striker        108910 non-null  object
 7   extra_type         5750 non-null    object
 8   batsman_run        108910 non-null  int64
 9   extras_run         108910 non-null  int64
 10  total_run_x        108910 non-null  int64
 11  non_boundary       108910 non-null  int64
 12  isWicketDelivery   108910 non-null  int64
 13  player_out         5341 non-null    object
 14  kind               5341 non-null    object
 15  fielders_involved  3789 non-null    object
 16  BattingTeam        108910 non-null  object
 17  City               108910 non-null  object
 18  Team1              108910 non-null  object
 19  Team2              108910 non-null  object
 20  WinningTeam        108883 non-null  object
 21  WonBy              108910 non-null  object
 22  total_run_y        108910 non-null  int64
 23  target             108910 non-null  int64
 24  current_score      108910 non-null  int64
 25  runs_left          108910 non-null  int64
 26  balls_left         108910 non-null  int64
 27  wickets_left       108910 non-null  int64
 28  crr                108910 non-null  float64
 29  rrr                108899 non-null  float64
 30  result             108910 non-null  int64
dtypes: float64(2), int64(16), object(13)
memory usage: 26.6+ MB

In [ ]:
#creating bowling team as there is no bowling team column in the df:

In [ ]:
def bowling_team(row):
    return row['Team1'] if row['Team2'] == row['BattingTeam'] else row['Team2']

In [ ]:
delivery_df['BowlingTeam'] = delivery_df.apply(bowling_team,axis=1)

In [ ]:
#checking the bowling column with other cols:
delivery_df[['Team1','Team2','BattingTeam','BowlingTeam']]

,Team1,Team2,BattingTeam,BowlingTeam
120,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Rajasthan Royals
121,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Rajasthan Royals
122,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Rajasthan Royals
123,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Rajasthan Royals
124,Rajasthan Royals,Gujarat Titans,Gujarat Titans,Rajasthan Royals
...,...,...,...,...
225949,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders
225950,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders
225951,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders
225952,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders
225953,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders

In [ ]:
# gathering the required cols for final df:
final_df = delivery_df[['BattingTeam', 'BowlingTeam', 'City', 'runs_left', 'balls_left', 'wickets_left', 'crr', 'rrr', 'target', 'result']]

In [ ]:
#shuffling the df as we have sorted data:
final_df = final_df.sample(final_df.shape[0])

In [ ]:
final_df.head()

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets_left,crr,rrr,target,result
83248,Gujarat Lions,Punjab Kings,Rajkot,147,94,9,9.692308,9.382979,189,0
169070,Kings XI Punjab,Sunrisers Hyderabad,Dharamsala,122,60,8,7.700000,12.200000,199,0
143524,Royal Challengers Bangalore,Rajasthan Royals,Bangalore,27,32,7,6.204545,5.062500,118,1
122860,Chennai Super Kings,Rajasthan Royals,Ranchi,17,9,5,7.135135,11.333333,149,1
148834,Delhi Daredevils,Rajasthan Royals,Delhi,30,22,8,8.326531,8.181818,166,0

In [ ]:
final_df.isnull().sum()

BattingTeam      0
BowlingTeam      0
City             0
runs_left        0
balls_left       0
wickets_left     0
crr              0
rrr             11
target           0
result           0
dtype: int64

In [ ]:
final_df.describe()

,runs_left,balls_left,wickets_left,crr,rrr,target,result
count,108910.000000,108910.000000,108910.00000,108910.000000,1.088990e+05,108910.000000,108910.00000
mean,92.622147,62.857075,7.54489,7.428489,NaN,165.481067,0.52952
std,49.707244,33.421343,2.14427,2.260921,NaN,28.897919,0.49913
min,-15.000000,-3.000000,0.00000,0.000000,-inf,63.000000,0.00000
25%,53.000000,35.000000,6.00000,6.265487,7.178571e+00,147.000000,0.00000
50%,92.000000,64.000000,8.00000,7.470588,8.896552e+00,165.000000,1.00000
75%,130.000000,92.000000,9.00000,8.666667,1.096154e+01,185.000000,1.00000
max,264.000000,119.000000,10.00000,36.000000,inf,264.000000,1.00000

In [ ]:
final_df = final_df[final_df['balls_left'] > 0 ]

In [ ]:
final_df.describe()

,runs_left,balls_left,wickets_left,crr,rrr,target,result
count,108437.000000,108437.000000,108437.000000,108437.000000,108437.000000,108437.000000,108437.000000
mean,92.937318,63.132335,7.565407,7.426590,10.597347,165.426598,0.531249
std,49.569082,33.232685,2.123630,2.264284,13.227786,28.903123,0.499025
min,-15.000000,1.000000,0.000000,0.000000,-30.000000,63.000000,0.000000
25%,54.000000,35.000000,6.000000,6.260870,7.178571,147.000000,0.000000
50%,92.000000,64.000000,8.000000,7.469388,8.888889,165.000000,1.000000
75%,130.000000,92.000000,9.000000,8.666667,10.934579,185.000000,1.000000
max,264.000000,119.000000,10.000000,36.000000,792.000000,264.000000,1.000000

In [ ]:
final_df.isnull().sum()

BattingTeam     0
BowlingTeam     0
City            0
runs_left       0
balls_left      0
wickets_left    0
crr             0
rrr             0
target          0
result          0
dtype: int64

In [ ]:
final_df.dropna(inplace=True)

In [ ]:
final_df.isnull().sum()

BattingTeam     0
BowlingTeam     0
City            0
runs_left       0
balls_left      0
wickets_left    0
crr             0
rrr             0
target          0
result          0
dtype: int64

## Building the models:

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = final_df.iloc[:,:-1]
Y = final_df.iloc[:,-1]

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [ ]:
X_train.shape

(86749, 9)

In [ ]:
Y_train.shape

(86749,)

## Creating pipelines to tranform cols and train the model:

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [ ]:
# encoding batting team,bowling team and city:
step1 = ColumnTransformer(transformers=[
    ('ohe',OneHotEncoder(sparse=False,drop='first'),[0,1,2])
],remainder = 'passthrough')

## Logistic regression

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
#assigning our model to step 2 :
step2 = LogisticRegression(C=1,solver='liblinear',max_iter=20,penalty='l1')

In [ ]:
#creating the pipeline:
pipe1 = Pipeline([
    ('step1',step1),
    ('step2',step2),
])

In [ ]:
#training the data with our pipeline:
pipe1.fit(X_train,Y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  [0, 1, 2])])),
                ('step2',
                 LogisticRegression(C=1, max_iter=20, penalty='l1',
                                    solver='liblinear'))])

In [ ]:
#testing the pipeline:
Y_pred1 = pipe1.predict(X_test)

In [ ]:
# evaluating the model:
from sklearn.model_selection import cross_val_score

In [ ]:
acc= cross_val_score(pipe1,X_train,Y_train,cv=5,scoring='accuracy').mean()
acc

0.8109718827069902

In [ ]:
#using grid search cv for hyper parameter tuning:
from sklearn.model_selection import GridSearchCV

In [ ]:
parameter = {
    'step2__penalty' : ['l1', 'l2', 'None'],
    'step2__C' : [0.01,0.1,1],
    'step2__solver' : ['lbfgs', 'liblinear'],
    'step2__max_iter' : [200,250,300,350]
}

In [ ]:
grid = GridSearchCV(pipe1,param_grid=parameter,cv=5,scoring='accuracy')

In [ ]:
grid.fit(X_train,Y_train)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('step1',
                                        ColumnTransformer(remainder='passthrough',
                                                          transformers=[('ohe',
                                                                         OneHotEncoder(drop='first',
                                                                                       sparse=False),
                                                                         [0, 1,
                                                                          2])])),
                                       ('step2',
                                        LogisticRegression(C=1,
                                                           max_iter=350))]),
             param_grid={'step2__C': [0.01, 0.1, 1],
                         'step2__max_iter': [200, 250, 300, 350],
                         'step2__penalty': ['l1', 'l2', 'None'],
                         'step2__solver': ['lbfgs', 'liblinear']},
             scoring='accuracy')

In [ ]:
grid.best_score_

0.8112831318666807

In [ ]:
grid.best_params_

{'step2__C': 1,
 'step2__max_iter': 200,
 'step2__penalty': 'l1',
 'step2__solver': 'liblinear'}

In [ ]:
from sklearn.naive_bayes import GaussianNB

In [ ]:
step2 = GaussianNB()

In [ ]:
pipe2 = Pipeline([
    ('step1',step1),
    ('step2',step2),
])

In [ ]:
pipe2.fit(X_train,Y_train)

In [ ]:
Y_pred2 = pipe2.predict(X_test)

In [ ]:
cross_val_score(pipe2,X_train,Y_train,cv=5,scoring='accuracy').mean()

In [ ]:
from sklearn.svm import SVC

In [ ]:
step2 = SVC()

In [ ]:
pipe3 = Pipeline([
    ('step1',step1),
    ('step2',step2),
])

In [ ]:
pipe3.fit(X_train,Y_train)

In [ ]:
#cross_val_score(pipe3,X_train,Y_train,cv=5,scoring='accuracy').mean()

In [ ]:
parameters = {
    'step2__C' : [0.001,0.01,0.1,1],
    'step2__kernel' : ['linear', 'poly', 'rbf', 'sigmoid'],
}

In [ ]:
#grid = GridSearchCV(pipe3,param_grid=parameters,cv=5,scoring='accuracy')

In [ ]:
#grid.fit(X_train,Y_train)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
step2 = RandomForestClassifier()

In [ ]:
pipe4 = Pipeline([
    ('step1',step1),
    ('step2',step2),
])

In [ ]:
pipe4.fit(X_train,Y_train)

In [ ]:
cross_val_score(pipe4,X_train,Y_train,cv=5,scoring='accuracy').mean()

In [ ]:
Y_pred2 = pipe4.predict(X_test)

In [ ]:
# comparing LR and RF results:
pipe1.predict_proba(X_test)[5] #LR

array([0.8840544, 0.1159456])

In [ ]:
pipe4.predict_proba(X_test)[5] #RF

In [ ]:
# as RF is giving hard probablilities, we will select LR as our final model.

In [ ]:
import pickle
pickle.dump(pipe1,open('pipe.pkl','wb'))